body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;

}

object {
	pointer-events: none;
}

img {
	border-radius: 50%;
	object-fit: cover;
}

.background-conteiner {
	background-color: #EBECF0;
	padding: 80px 100px;
}

.indent {
	margin-left: 30px;
	margin-right: 30px;
	font-family: 'Roboto', sans-serif;
}

.header-conteiner {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.controls {
	display: flex;
	background-color: #F5F6F8;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 11px 17px;
}

.controls-item {
	background-color: orange;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

.controls::before {
	content: '';
	background-color: #ED6B5E;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	cursor: pointer;
}

.controls::after {
	content: '';
	background-color: #61C455;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	cursor: pointer;
}

.header-menu {
	display: flex;
	align-items: center;
	padding: 0px 29px;
	background-color: #fff;
}

.header-menu h2:nth-child(2) {
	padding-left: 7px;
	font-size: 20px;
	letter-spacing: 1px;
}

.header-menu_content {
	width: 85%;
	display: flex;
	align-items: center;
}

.nav-menu {
	display: flex;
	margin: 0;
	padding-left: 15px;
	align-items: center;
}

.nav-menu li {
	list-style: none;
}

.nav-menu_item {
	font-size: 15px;
	font-weight: 600;
	padding: 29px 15px;
}

.nav-menu_item:hover {
	background-color: aliceblue;
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 10px;
}

.nav-menu_item-accentuated {
	color: #7F56DA;
	background-color: #F8F5FE;
	font-size: 15px;
	font-weight: 600;
	display: flex;
	align-items: center;
	height: 45px;
	width: 159px;
	border-radius: 7px;
}

.nav-menu_item-accentuated::before {
	content: '';
	background-color: #12B76B;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin: 0 20px;
}

.nav-menu_item-accentuated:hover {
	background-color: rgba(250, 14, 199, 0.473);
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 18px 0;
}

.header-conteiner_aside {
	display: flex;
	width: 15%;
	justify-content: space-evenly;
	align-items: center;
}

a {
	cursor: pointer;
}

.icon {
	cursor: pointer;
	height: 21px;
	filter: invert(37%) sepia(2%) saturate(3425%) hue-rotate(182deg) brightness(107%) contrast(58%);
}

.header-conteiner_face {
	background: url(/img/me.jpg);
	background-size: 31px;
	background-position-x: 7px;
	height: 42px;
	width: 41px;
	border-radius: 50%;
}

.main-conteiner {
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
	position: relative;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

main::after {
	content: '';
	position: absolute;
	border: 0.1px solid #aba9a940;
	left: 0px;
	right: 0;
	top: 0;
}

.title {
	font-size: 28px;
	padding: 30px 0 10px 25px;
}

.main-conteiner_content {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 100%;
	margin: 0 20px 70px;
	box-shadow: 0px 3px 3px #b3b3b3;
}

.position {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
}

.chat-selection {
	display: flex;
	flex-wrap: wrap;
	width: 30%;
}

.chat-selection_title {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #aba9a940;
	border-right: 1px solid #aba9a940;
}

.chat-selection_title-conteiner {
	width: 100%;
}

.chat-selection_title-conteiner h3 {
	float: left;
	align-items: center;
	display: flex;
	font-size: 18px;
	font-weight: 600;
	margin: 29px 0px 0px 30px;
}

.chat-selection_title-conteiner h3 span {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F6EAFF;
	color: #737171;
	border-radius: 10px;
	height: 19px;
	width: 28px;
	font-size: 10px;
	font-weight: 600;
	margin-left: 7px;
}

.chat-selection_title-conteiner h3 span:hover {
	background-color: rgba(134, 134, 134, 0.479);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	height: 19px;
	width: 28px;
	font-size: 9px;
	font-weight: 600;
	margin-left: 7px;
}

.chat-selection_title-conteiner a {
	border: 1px solid #aba9a963;
	border-radius: 8px;
	padding: 10px 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-right: 25px;
	float: right;
}

.chat-selection_title-conteiner a:hover {
	border: 1px solid #aba9a963;
	background-color: rgba(134, 134, 134, 0.479);
	;
	border-radius: 8px;
	padding: 10px 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-right: 25px;
	float: right;
}

.chat-selection_line {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-right: 1px solid #aba9a940;
	border-bottom: 1px solid #aba9a940;
	padding: 13px 10px 13px 28px;
}

.pheonix-backer::after {
	content: '';
	position: absolute;
	top: 28px;
	left: 30px;
	background-color: #10da17;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
}

.pheonix-backer::before {
	content: '';
	position: absolute;
	top: 17px;
	left: -17px;
	background-color: #9F77EE;
	border-radius: 50%;
	height: 6px;
	width: 6px;
}

.katherine-moss::after {
	content: '';
	position: absolute;
	top: 28px;
	left: 30px;
	background-color: #10da17;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
}

.mollie-hall::after {
	content: '';
	position: absolute;
	top: 28px;
	left: 30px;
	background-color: #10da17;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
}

.mollie-hall::before {
	content: '';
	position: absolute;
	top: 17px;
	left: -17px;
	background-color: #9F77EE;
	border-radius: 50%;
	height: 6px;
	width: 6px;
}

.rosalee-melvin::after {
	content: '';
	position: absolute;
	top: 28px;
	left: 30px;
	background-color: #aba8a8;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
}

.annlah-whiteen::after {
	content: '';
	position: absolute;
	top: 28px;
	left: 30px;
	background-color: #aba8a8;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
}

.koray-okumus::after {
	content: '';
	position: absolute;
	top: 28px;
	left: 30px;
	background-color: #10da17;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
}

.koray-okumus::before {
	content: '';
	position: absolute;
	top: 17px;
	left: -17px;
	background-color: #9F77EE;
	border-radius: 50%;
	height: 6px;
	width: 6px;
}

.eva-bond::after {
	content: '';
	position: absolute;
	top: 28px;
	left: 30px;
	background-color: #10da17;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
}

.chat-selection_line:hover {
	cursor: pointer;
	background-color: #F9FAFC;
	border-left: 4px solid #7F56DA;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-right: 1px solid #aba9a940;
	border-bottom: 1px solid #aba9a940;
	padding: 13px 10px 13px 28px;
}

.chat-selection_line p {
	font-size: 14px;
	color: #aba8a8;
	line-height: 20px;
	text-shadow: 1px 1px #b5b1b14d;
	margin-right: auto;
}

.chat-selection_user-information {
	width: 100%;
}

.user {
	position: relative;
	float: left;
	display: flex;
}

.user .offline {
	position: absolute;
	top: 29px;
	left: 28px;
	background-color: #08f411;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
}

.user .message-status {
	position: absolute;
	top: 17px;
	left: -17px;
	background-color: #9F77EE;
	border-radius: 50%;
	height: 6px;
	width: 6px;
}

.change-time {
	float: right;
	display: flex;
	margin-right: 10px;
	margin-top: 2px;
	color: #aba8a8;
	font-size: 13px;
	text-shadow: 1px 1px #b5b1b14d;
}

.data-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 7px;
	line-height: 18px;
}

.user .data-profile h4 {
	font-weight: 600;
	font-size: 13px;
	color: #000000db;
	margin: 0;
	letter-spacing: 1px;
}

.user .data-profile span {
	font-size: 12px;
	color: #aba8a8;
	font-weight: 500;
	letter-spacing: 1px;
	text-shadow: 1px 1px #b5b1b14d;
}


.box {
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
	padding: 16px;
	padding-bottom: 10px;
}

.box object {
	position: absolute;
	top: 10px;
}

.box input[type=text] {
	width: 100%;
	border: 2px solid #ccc;
	border-radius: 9px;
	font-size: 14px;
	height: 15px;
	padding: 12px 20px 12px 40px;
}

.box_icon {
	cursor: pointer;
	position: absolute;
	left: 28px;
	top: 24px;
	width: 25px;
	height: 28px;
	-webkit-mask: url(/img/search-icon.svg) no-repeat 50% 50%;
	-webkit-mask-size: 17px;
}

.box_icon-color {
	background-color: #575656;
}

.correspondence {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.correspondence_title {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 23px;
	height: 84px;
	border-bottom: 0.1px solid #aba9a940;
}

.header-profile {
	display: flex;
	width: 50%;
}

.data-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 7px;
	line-height: 18px;
}

.data-profile h4 {
	font-weight: 600;
	font-size: 16px;
	color: #000000db;
	margin: 0;
}

.data-profile span {
	font-size: 11px;
	color: #aba8a8;
	font-weight: 500;
}

.access {
	cursor: pointer;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 10px;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 10px;
	font-weight: 600;
	color: #0ead0e;
	background-color: #EBFDF3;
	height: 17px;
	width: 60px;
}

.access::before {
	content: '';
	background-color: #0ead0e;
	height: 5px;
	width: 5px;
	border-radius: 50%;
}

.aside-button {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	margin-right: 14px;
}

.aside-button div {
	margin: 0 7px;
}

.aside-button_call {
	cursor: pointer;
	display: flex;
	align-items: center;
	background-color: #f6eaffab;
	border-radius: 10px;
	padding: 10px 15px;
	font-size: 12px;
	color: #7F56DA;
	font-weight: 600;
}

.aside-button_call:hover {
	cursor: pointer;
	display: flex;
	align-items: center;
	background-color: #9c9c9c75;
	border-radius: 10px;
	padding: 10px 15px;
	font-size: 12px;
	color: #fdfdfd;
	font-weight: 600;
}

.icon-call {
	margin-right: 7px;
	cursor: pointer;
	height: 19px;
	filter: invert(45%) sepia(14%) saturate(1362%) hue-rotate(216deg) brightness(89%) contrast(85%);
}

.aside-button_archive {
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 1px solid #aba9acab;
	border-radius: 10px;
	padding: 10px 15px;
	font-size: 12px;
	font-weight: 800;
	color: #000000bd;
}

.aside-button_archive:hover {
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 1px solid #9c9c9c75;
	background-color: #9c9c9c75;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.466);
	border-radius: 10px;
	padding: 10px 15px;
	font-size: 12px;
	color: #fdfdfd;
	font-weight: 500;
}

.aside-button_view-profile {
	cursor: pointer;
	display: flex;
	align-items: center;
	background-color: #7F56DA;
	border: 1px solid #aba9acab;
	border-radius: 10px;
	padding: 10px 15px;
	font-size: 12px;
	color: #ffffffbd;
	text-shadow: 1px 1px #d9d1d194;
}

.aside-button_view-profile:hover {
	cursor: pointer;
	display: flex;
	align-items: center;
	background-color: #8056daad;
	border: 1px solid #aba9acab;
	border-radius: 10px;
	padding: 12px 18px;
	font-size: 11px;
	color: #ffffffbd;
	text-shadow: 1px 1px #d9d1d194;
}

.correspondence_conteiner {
	display: flex;
	flex-direction: column;
	background-color: #FDFDFD;
}


.profile-sender {
	position: relative;
	display: flex;
	padding: 10px 0px 10px 30px;
	justify-content: flex-start;
}

.profile-sender_conteiner {
	width: 100%;
}

.profile-sender_information {
	display: flex;
	flex-direction: column-reverse;
	line-height: 30px;
	padding-left: 10px;
	width: 60%;
}


.profile-sender_information p {
	margin: 0;
	background-color: #F3F4F8;
	border-radius: 10px;
	border-top-left-radius: 0px;
	padding: 10px;
	text-shadow: 1px 1px #b4b4b4c7;
	font-size: 15px;
	color: #000000b0;
	line-height: 20px;
}

.profile-sender_conteiner h4 {
	font-weight: 600;
	font-size: 13px;
	color: #000000db;
	margin: 0;
	letter-spacing: 1px;
	float: left;
}

.profile-sender .katherine-moss::after {
	content: '';
	position: absolute;
	top: 38px;
	left: 59px;
	background-color: #10da17;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
}

.profile-sender .change-time {
	float: right;
	display: flex;
	margin-right: 10px;
	margin-top: 2px;
	color: #aba8a8;
	font-size: 11px;
	text-shadow: 1px 1px #b5b1b14d;
}

.profile-sender_sending-file {
	display: flex;
	align-items: center;
	margin: 0;
	background-color: #fff;
	border-radius: 10px;
	border-top-left-radius: 0px;
	padding: 10px;
	text-shadow: 1px 1px #b5b1b14d;
	border: 0.1px solid #aba9a940;
}

.profile-sender_sending-file .icon {
	cursor: pointer;
	height: 13px;
	filter: invert(44%) sepia(29%) saturate(6369%) hue-rotate(236deg) brightness(87%) contrast(95%);
}

.profile-sender_sending-file a {
	background-color: #F6EAFF;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.document-description {
	display: flex;
	flex-direction: column;
	line-height: 15px;
	padding-left: 10px;
}

.document-description h5 {
	margin: 0;
	text-shadow: 0px 0.5px #b4b4b4e0;
	font-size: 13px;
	color: #000000b0;
}

.document-description span {
	font-size: 12px;
	color: #aba8a8;
	font-weight: 500;
	text-shadow: 1px 1px #b5b1b14d;
}

.my-profile {
	position: relative;
	display: flex;
	padding: 10px 30px 10px 0px;
	justify-content: flex-end;
}

.my-profile_information {
	display: flex;
	flex-direction: column-reverse;
	width: 60%;
}

.my-profile_information p {
	margin: 0;
	background-color: #7F56D9;
	border-radius: 10px;
	border-top-right-radius: 0px;
	padding: 10px;
	text-shadow: 1px 1px #b4b4b4c7;
	font-size: 15px;
	line-height: 20px;
	color: #ffffffcf;
}

.my-profile_conteiner {
	width: 100%;
	padding-bottom: 10px;
}

.my-profile_conteiner h4 {
	font-weight: 600;
	font-size: 13px;
	color: #000000db;
	margin: 0;
	letter-spacing: 1px;
	float: left;
}

.my-profile_conteiner .change-time {
	float: right;
	display: flex;
	margin-right: 10px;
	margin-top: 2px;
	color: #aba8a8;
	font-size: 11px;
	text-shadow: 1px 1px #b5b1b14d;
}