body {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
	cursor: pointer;
}



object {
	pointer-events: none;
}

img {
	border-radius: 50%;
	object-fit: cover;
}

.background-conteiner {
	background-color: #EBECF0;
	padding: 80px 100px;
}

.indent {
	margin-left: 30px;
	margin-right: 30px;
	font-family: 'Roboto', sans-serif;
}

.header-conteiner {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.controls {
	display: flex;
	background-color: #F5F6F8;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 11px 17px;
}

.controls-item {
	background-color: orange;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

.controls::before {
	content: '';
	background-color: #ED6B5E;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	cursor: pointer;
}

.controls::after {
	content: '';
	background-color: #61C455;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	cursor: pointer;
}

.header-menu {
	position: relative;
	display: flex;
	align-items: center;
	padding: 0px 29px;
	background-color: #fff;
}

.header-menu h2 {
	padding-left: 7px;
	font-size: 20px;
	letter-spacing: 1px;
}

.header-menu_content {
	width: 85%;
	display: flex;
	align-items: center;
}

.nav-menu {
	display: flex;
	margin: 0;
	padding-left: 15px;
	align-items: center;
}

.nav-menu li {
	list-style: none;
}

.nav-menu_item {
	font-size: 15px;
	font-weight: 600;
	padding: 29px 15px;
	color: black;
}

.nav-menu_item:hover {
	background-color: aliceblue;
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 10px;
}

.nav-menu_item-accentuated {
	color: #7F56DA;
	background-color: #F8F5FE;
	font-size: 14px;
	font-weight: 600;
	display: flex;
	align-items: center;
	padding: 13px 18px 13px 0px;
	border-radius: 7px;
}

.nav-menu_item-accentuated::before {
	content: '';
	background-color: #12B76B;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	margin: 0 15px;
}

.nav-menu_item-accentuated:hover {
	background-color: #cbc9cebd;
	cursor: pointer;
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 26px 18px 26px 0px;
}

.header-conteiner_aside {
	display: flex;
	width: 15%;
	justify-content: space-evenly;
	align-items: center;
}


.icon {
	cursor: pointer;
	height: 21px;
	filter: invert(37%) sepia(2%) saturate(3425%) hue-rotate(182deg) brightness(107%) contrast(58%);
}

.header-conteiner_face {
	background: url(/img/me.jpg);
	background-size: 31px;
	background-position-x: 7px;
	height: 42px;
	width: 41px;
	border-radius: 50%;
}

.main-conteiner {
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
	position: relative;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

main::after {
	content: '';
	position: absolute;
	border: 0.1px solid #aba9a940;
	left: 0px;
	right: 0;
	top: 0;
}

.title {
	font-size: 28px;
	padding: 30px 0 10px 25px;
}

.main-conteiner_content {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 100%;
	margin: 0 20px 70px;
	box-shadow: 0px 3px 3px #b3b3b3;
}

.position {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
}

.chat-selection {
	display: flex;
	flex-wrap: wrap;
	width: 30%;
}

.chat-selection_title {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #aba9a940;
	border-right: 1px solid #aba9a940;
}

.chat-selection_title-conteiner {
	width: 100%;
}

.chat-selection-subtitle {
	float: left;
	align-items: center;
	display: flex;
	font-size: 18px;
	font-weight: 600;
	margin: 29px 0px 0px 30px;
}

.chat-selection-subtitle span {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F6EAFF;
	color: #737171;
	border-radius: 10px;
	height: 19px;
	width: 28px;
	font-size: 10px;
	font-weight: 600;
	margin-left: 7px;
}

.chat-selection-subtitle span:hover {
	background-color: rgba(134, 134, 134, 0.479);
	font-size: 9px;
}

.chat-selection_title-conteiner a {
	border: 1px solid #aba9a963;
	border-radius: 8px;
	padding: 10px 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-right: 25px;
	float: right;
}

.chat-selection_title-conteiner a:hover {
	background-color: rgba(134, 134, 134, 0.479);
}

.chat-selection_talk {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-right: 1px solid #aba9a940;
	border-bottom: 1px solid #aba9a940;
	padding: 13px 10px 13px 28px;
	border-left: 4px solid transparent;
}


.chat-selection_talk:hover {
	cursor: pointer;
	background-color: #F9FAFC;
	border-left: 4px solid #7F56DA;
}

.chat-selection_talk p {
	font-size: 14px;
	color: #616060;
	line-height: 20px;
	margin-right: auto;
}

.online {
	position: absolute;
	top: 28px;
	left: 30px;
	background-color: #10da17;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
}

.unread-message {
	position: absolute;
	top: 17px;
	left: -17px;
	background-color: #9F77EE;
	border-radius: 50%;
	height: 6px;
	width: 6px;
}

.offline {
	position: absolute;
	top: 28px;
	left: 30px;
	background-color: #aba8a8;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
}

.chat-selection_user-information {
	width: 100%;
}

.user {
	position: relative;
	float: left;
	display: flex;
}

.user .offline {
	position: absolute;
	top: 29px;
	left: 28px;
	background-color: #08f411;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
}

.user .message-status {
	position: absolute;
	top: 17px;
	left: -17px;
	background-color: #9F77EE;
	border-radius: 50%;
	height: 6px;
	width: 6px;
}

.change-time {
	float: right;
	display: flex;
	margin-right: 10px;
	margin-top: 2px;
	color: #aba8a8;
	font-size: 13px;
	text-shadow: 1px 1px #b5b1b14d;
}

.data-profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 7px;
	line-height: 18px;
}

.data-profile h4 {
	font-weight: 600;
	font-size: 13px;
	color: #000000db;
	margin: 0;
	letter-spacing: 1px;
}

.data-profile span {
	font-size: 12px;
	color: #aba8a8;
	font-weight: 500;
	letter-spacing: 1px;
	text-shadow: 1px 1px #b5b1b14d;
}


.box-search {
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
	padding: 16px;
}

.box-search input[type=text] {
	width: 100%;
	border: 2px solid #ccc;
	border-radius: 9px;
	font-size: 14px;
	padding: 12px 20px 12px 40px;
	font-size: 14px;
	color: #aba8a8;
	line-height: 20px;
	text-shadow: 1px 1px #b5b1b14d;
	font-family: cursive;
	outline: none;
}

.box input:checked {
	width: 100%;
	border: 2px solid #ccc;
	border-radius: 9px;
	font-size: 14px;
	height: 15px;
	padding: 12px 20px 12px 40px;
}

.icon-search {
	position: absolute;
	left: 29px;
	top: 31px;
	width: 25px;
	height: 28px;
	-webkit-mask: url(/img/search-icon.svg) no-repeat;
	-webkit-mask-size: 17px;
	mask: url(/img/search-icon.svg) no-repeat 50% 50%;
	mask-size: 17px;
	background-color: #575656;
}


.correspondence {
	display: flex;
	flex-direction: column;
	width: 70%;
}

.correspodence_active-dialog {
	height: calc(100% - 137px);
	overflow: auto;
}

.correspondence_title {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 23px;
	height: 84px;
	border-bottom: 0.1px solid #aba9a940;
}

.header-profile {
	display: flex;
	width: 50%;
}

.header-profile .icon-call-menu {
	display: none;
}

.header-profile_talks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 7px;
	line-height: 18px;
}

.header-profile_talks h4 {
	font-weight: 600;
	font-size: 16px;
	color: #000000db;
	margin: 0;
}

.header-profile_talks span {
	font-size: 11px;
	color: #aba8a8;
	font-weight: 500;
}

.access {
	cursor: pointer;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 10px;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 10px;
	font-weight: 600;
	color: #0ead0e;
	background-color: #EBFDF3;
	height: 17px;
	width: 60px;
}

.access::before {
	content: '';
	background-color: #0ead0e;
	height: 5px;
	width: 5px;
	border-radius: 50%;
}

.aside-button {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	margin-right: 14px;
}

.aside-button div {
	margin: 0 7px;
}

.aside-button_call {
	cursor: pointer;
	display: flex;
	align-items: center;
	background-color: #f6eaffab;
	border-radius: 10px;
	padding: 10px 15px;
	font-size: 12px;
	color: #7F56DA;
	font-weight: 600;
}

.aside-button_call:hover {
	background-color: #9c9c9c75;
	color: #fdfdfd;
}

.icon-call {
	margin-right: 7px;
	cursor: pointer;
	height: 19px;
	filter: invert(45%) sepia(14%) saturate(1362%) hue-rotate(216deg) brightness(89%) contrast(85%);
}

.aside-button_archive {
	cursor: pointer;
	display: flex;
	align-items: center;
	border: 1px solid #aba9acab;
	border-radius: 10px;
	padding: 10px 15px;
	font-size: 12px;
	font-weight: 800;
	color: #000000bd;
}

.aside-button_archive:hover {
	border: 1px solid #9c9c9c75;
	background-color: #9c9c9c75;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.466);
	color: #fdfdfd;
	font-weight: 500;
}

.aside-button_view-profile {
	cursor: pointer;
	display: flex;
	align-items: center;
	background-color: #7F56DA;
	border: 1px solid #aba9acab;
	border-radius: 10px;
	padding: 10px 15px;
	font-size: 12px;
	color: #ffffffbd;
	text-shadow: 1px 1px #d9d1d194;
}

.aside-button_view-profile:hover {
	background-color: #6c43c4;
}

.correspondence_conteiner {
	display: flex;
	flex-direction: column;
	background-color: #FDFDFD;
	border-bottom-right-radius: 10px;
	height: 70em;
}

.profile-sender {
	position: relative;
	display: flex;
	padding: 10px 0px 10px 30px;
	justify-content: flex-start;
}

.profile-sender_conteiner {
	width: 100%;
}

.profile-sender_information {
	display: flex;
	flex-direction: column-reverse;
	line-height: 30px;
	padding-left: 10px;
	padding: 10px 15px;
	max-width: 60%;
}


.profile-sender_information p {
	margin: 0;
	background-color: #F3F4F8;
	border-radius: 10px;
	border-top-left-radius: 0px;
	padding: 10px;
	text-shadow: 1px 1px #b4b4b4c7;
	font-size: 15px;
	color: #000000b0;
	line-height: 20px;
	max-width: max-content;
}

.profile-sender_conteiner h4 {
	font-weight: 600;
	font-size: 13px;
	color: #000000db;
	margin: 0;
	letter-spacing: 1px;
	float: left;
}

.profile-sender .katherine-moss::after {
	content: '';
	position: absolute;
	top: 38px;
	left: 59px;
	background-color: #10da17;
	border-radius: 50%;
	height: 8px;
	width: 8px;
	border: 1px solid #fff;
}

.profile-sender .change-time {
	float: right;
	display: flex;
	margin-right: 10px;
	margin-top: 2px;
	color: #aba8a8;
	font-size: 11px;
	text-shadow: 1px 1px #b5b1b14d;
}

.profile-sender_sending-file {
	display: flex;
	align-items: center;
	margin: 0;
	background-color: #fff;
	border-radius: 10px;
	border-top-left-radius: 0px;
	padding: 10px 80px 10px 10px;
	text-shadow: 1px 1px #b5b1b14d;
	border: 0.1px solid #aba9a940;
}

.profile-sender_sending-file .icon {
	cursor: pointer;
	height: 13px;
	filter: invert(44%) sepia(29%) saturate(6369%) hue-rotate(236deg) brightness(87%) contrast(95%);
}

.profile-sender_sending-file a {
	background-color: #F6EAFF;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.document-description {
	display: flex;
	flex-direction: column;
	line-height: 15px;
	padding-left: 10px;
}

.document-description h6 {
	margin: 0;
	text-shadow: 0px 0.5px #b4b4b4e0;
	font-size: 13px;
	color: #000000b0;
}

.document-description span {
	font-size: 12px;
	color: #aba8a8;
	font-weight: 500;
	text-shadow: 1px 1px #b5b1b14d;
}

.my-profile {
	position: relative;
	display: flex;
	padding: 10px 30px 10px 0px;
	justify-content: flex-end;
}

.my-profile_information {
	display: flex;
	flex-direction: column-reverse;
	max-width: 60%;
}

.my-profile_information p {
	margin: 0;
	background-color: #7F56D9;
	border-radius: 10px;
	border-top-right-radius: 0px;
	padding: 10px;
	text-shadow: 1px 1px #b4b4b4c7;
	font-size: 15px;
	line-height: 20px;
	color: #ffffffcf;
	max-width: max-content;
}

.my-profile_conteiner {
	width: 100%;
	padding-bottom: 10px;
}

.my-profile_conteiner h4 {
	font-weight: 600;
	font-size: 13px;
	color: #000000db;
	margin: 0;
	letter-spacing: 1px;
	float: left;
}

.my-profile_conteiner .change-time {
	float: right;
	display: flex;
	margin-right: 10px;
	margin-top: 2px;
	color: #aba8a8;
	font-size: 11px;
	text-shadow: 1px 1px #b5b1b14d;
}

.correspondence_conteiner h5 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #aba8a8;
	margin: 0;
	padding: 12px 0;
}

.correspondence_conteiner h5::before {
	content: '';
	border: 0.5px solid #cccccc4d;
	width: 42%;
	margin-right: 5px;
}

.correspondence_conteiner h5::after {
	content: '';
	border: 0.5px solid #cccccc4d;
	width: 42%;
	margin-left: 5px;
}

.box-send-message {
	display: flex;
	justify-content: center;
	padding: 10px 30px 25px;
	position: relative;
}

.box-send-message input[type="text"] {
	padding: 12px 165px 90px 10px;
	border-radius: 5px;
	border: 2px solid #ccc;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	font-size: 14px;
	color: #aba8a8;
	line-height: 20px;
	text-shadow: 1px 1px #b5b1b14d;
	font-family: cursive;
	outline: none;
}

.box-send-message_buttons {
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 19%;
	bottom: 37px;
	right: 34px;
}

.icon-smile {
	height: 21px;
	width: 21px;
	-webkit-mask: url(/img/smile-icon.svg) no-repeat;
	-webkit-mask-size: 22px;
	mask: url(/img/smile-icon.svg) no-repeat;
	mask-size: 17px;
	background-color: #757575;
	cursor: pointer;
}

.box-send-message_buttons .icon-call-menu {
	height: 18px;
	width: 25px;
	-webkit-mask: url(/img/function-icon.svg) no-repeat;
	-webkit-mask-size: 18px;
	mask: url(/img/function-icon.svg) no-repeat;
	mask-size: 17px;
	background-color: #757575;
	cursor: pointer;
}

.icon-send-button {
	cursor: pointer;
	background-color: #7F56D9;
	border-radius: 10px;
	padding: 8px 15px;
	text-shadow: 1px 1px #b4b4b4c7;
	font-size: 14px;
	line-height: 20px;
	color: #ffffffcf;
}

.icon-send-button:hover {
	background-color: #6a42c0;
	text-shadow: 1px 1px #b4b4b4c7;
}

.emotion-icon {
	position: absolute;
	bottom: -19px;
	right: 34px;
	font-size: 18px;
}

.emotion-icon span {
	background-color: #F3F4F8;
	padding: 5px;
	border-radius: 17px;
}

#check-menu {
	display: none;
}

.wrapper,
.icon-send-button_adaptation {
	display: none;
}


@media all and (max-width: 1180px) {

.background-conteiner {
	padding: 80px 0px;
}

	.title,
	.chat-selection,
	.aside-button,
	.wrapper {
		display: none;
	}

	.icon-send-button {
		margin: 3px 10px;
	}


	.correspondence_conteiner {
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.correspondence_title .icon-call-menu {
		height: 18px;
		width: 18px;
		-webkit-mask: url(/img/function-icon.svg) no-repeat;
		-webkit-mask-size: 18px;
		mask: url(/img/function-icon.svg) no-repeat;
		mask-size: 17px;
		background-color: #757575;
		cursor: pointer;
		margin-bottom: 22px;
	}

	.icon-send-button_adaptation {
		cursor: pointer;
		background-color: #7F56D9;
		border-radius: 10px;
		padding: 8px 15px;
		text-shadow: 1px 1px #b4b4b4c7;
		font-size: 14px;
		line-height: 20px;
		color: #ffffffcf;
	}

	.box-send-message {
		padding: 10px 10px 30px 10px;
		padding: 10px 35px 30px 35px;
		justify-content: space-evenly;
	}

	.header-profile .icon-call-menu {
		display: inline-block;
	}

	.header-profile {
		width: 100%;
	}

	.correspondence_title {
		justify-content: space-between;
		padding-right: 25px;
	}



	.icon-send-button_adaptation {
		background-color: aliceblue;
		display: block;
		height: 8px;
		-webkit-mask: url(/img/send-button-adaptation.svg) no-repeat;
		-webkit-mask-size: 23px;
		mask: url(/img/send-button-adaptation.svg);
		mask-size: 20px;
	}

	.correspondence {
		width: 100%;
	}

	.main-conteiner_content {
		border: none;
		border-radius: 0%;
		margin: 0;
		box-shadow: none;
	}

	.burger-menu {
		position: relative;
		width: 95%;
	}

	.burger-menu div:nth-child(4) {
		position: absolute;
		right: -14px;
		top: 26px;
		color: #888D99;
		width: 23px;
		height: 0px;
		border: 0.1px solid;
	}

	.burger-menu div:nth-child(5) {
		position: absolute;
		right: -11px;
		top: 34px;
		color: #888D99;
		width: 20px;
		height: 0px;
		border: 0.1px solid;
	}

	.burger-menu div:nth-child(6) {
		position: absolute;
		right: -14px;
    top: 42px;
		color: #888D99;
		width: 23px;
		height: 0px;
		border: 0.1px solid;
	}

	.header-menu_content {
		width: 100%;
	}

	.header-menu h2 {
		display: none;
	}

	.header-menu img {
		margin: 15px 0;
	}

	.burger-menu {
		width: 100%;
	}

	.header-conteiner_aside {
		display: none;
	}

	.checkbox-menu {
		cursor: pointer;
		position: absolute;
		right: -17px;
		bottom: 20px;
		height: 25px;
		width: 29px;
		z-index: 2;
	}

	.nav-menu {
		overflow: hidden;
		max-width: 0;
		width: 97%;
	}

	.nav-menu_item {
		font-size: 14px;
		padding: 25px 11px;
	}

	.nav-menu_item-accentuated:hover {
		padding: 23px 18px 23px 0px;
	}

	#check-menu:checked~.nav-menu {
		max-width: 90%;
		font-size: 12px;
		margin: 0;
		display: flex;
		justify-content: flex-end;
	}
}

@media all and (max-width: 868px) {

	.icon-smile,
	.box-send-message_buttons .icon-call-menu,
	.icon-send-button {
		display: none;
	}

	.background-conteiner {
		padding: 0px;
	}

	.correspodence_active-dialog {
		height: calc(100% - 5em);
	}

	.indent {
		margin-left: auto;
		margin-right: auto;
	}

	.burger-menu div:nth-child(4) {
		top: 15px;
	}

	.burger-menu div:nth-child(5) {
		top: 23px;
	}

	.burger-menu div:nth-child(6) {
		top: 31px;
	}

	.box-send-message {
		padding: 10px 10px 30px 10px;
	}

	.box-send-message input[type="text"] {
		padding: 10px;
	}

	.box-send-message_buttons {
		position: initial;
    width: 45px;
    margin-left: 5px;
	}

	.checkbox-menu {
		top: 12px;
	}

	.nav-menu_item {
		font-size: 11px;
		padding: 15px 3px;
		letter-spacing: 0.5px;
	}

	.nav-menu_item-accentuated {
		font-size: 11px;
		padding: 10px 9px 10px 0px;
	}

	.nav-menu_item-accentuated:hover {
		font-size: 11px;
		padding: 10px 9px 10px 0px;
	}

	.nav-menu_item-accentuated::before {
		height: 7px;
		width: 7px;
		margin: 0 9px;
	}

	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #7F56D9;
		border-radius: 10px;
		width: 45px;
		height: 45px;
	}

}